vendor/
.env
node_modules/
_arch/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.vscode/

store.txt
notes.txt
referral.txt
shiftcms_eshop.sql
75821076_eshop_plus_multi_vendor_ecommerce_multi_module_website.pdf
